<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Enter your token code
        </h1>
        <p class="govuk-body-l">For additional security please enter your 8-digit token code.</p>
    </div>
</div>
<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Token instructions</h2>
        <ol class="govuk-list govuk-list--number">
            <li>Press the arrow on the token</li>
            <li>Enter your PIN</li>
            <li>Enter the 8-digit code that appears on your token in the Token code text field</li>
        </ol>

        <form method="post" id="form-reset-your-password">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />

                <div class="govuk-form-group <%= locals.validationMessages.code !== undefined ? 'govuk-form-group--error' : '' %>">

                    <label class="govuk-label--s" for="code">Token code</label>

                    <% if (locals.validationMessages.code !== undefined) { %>
                        <span id="validation-code" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> <%=locals.validationMessages.code %>
                        </span>
                    <% } %>

                    <input class="govuk-input govuk-!-width-two-thirds" id="code" name="code" type="text"
                           pattern="[0-9]{8}" required aria-required="true" maxlength="8" autocomplete="off"
                            <% if (locals.validationMessages.code !== undefined) { %> aria-invalid="true" aria-describedby="validation-code" <% } %>>
   
                </div>
                <div class="form-submit">
                    <button type="submit" class="govuk-button">Continue</button>
                </div>

        </form>
    </div>
    <div class="govuk-grid-column-one-half">
        <img src="<%= locals.urls.assets %>/gds-upgrade/images/token.svg" class="responsive spacing" alt="Illustration of the token">
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <%- include('../../includes/helpdesk'); %>
    </div>
</div>
