<!-- <main class="elements-index" id="content" tabindex="-1"> -->
<main id="content" class="govuk-width-container govuk-!-margin-bottom-9" tabindex="-1">

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
                Select your organisation
            </h1>

            <p class="govuk-body">You are associated with more than one organisation, please select the one you wish to sign-in with.</p>
            
            <form method="post">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
            
                <legend>
                    <h1 class="govuk-heading-s">Your organisations</h1>
                </legend>

                <div class="govuk-form-group">

                    <div class="govuk-radios">

                    <% locals.orgsForUser.forEach((org) => { %>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="cookie-radio-settings-false" type="radio" name="cookie.settings" value="">
                            <label class="govuk-label govuk-radios__label" for="cookie-radio-settings-false">
                                <span class="govuk-label--s">
                                    <%- org.organisation.name %>
                                    <%= org.organisation.status ? `(${org.organisation.status.name})` : ''%>
                                </span>
                            </label>
                            <% if (org.naturalIdentifiers.length > 0) { %>
                                <span class="govuk-hint govuk-radios__hint">
                                    <%= org.naturalIdentifiers.join(', ') %>
                                </span>
                            <% } %>
                            <% if (org.organisation.address && org.organisation.address !== 'Not recorded') { %>
                                <span class="govuk-hint govuk-radios__hint">
                                <%= org.organisation.address %>
                                </span>
                            <% } %>
                        </div>

                    <% })%>

                    </div>

                </div>

                <div class="govuk-form-group">
                    <input type="submit" class="govuk-button" value="Continue" />
                </div>
            </form>
        </div>

        <div class="govuk-grid-column-one-third">
            <aside>
                <h2 class="govuk-heading-m">Actions</h2>
                <ul class="govuk-list">
                    <li><a class="govuk-link" href="<%=locals.requestOrgLink%>">Request access to an organisation</a></li>
                </ul>
            </aside>
        </div>

    </div>
</main>
