<!-- <main class="elements-index" id="content" tabindex="-1"> -->
<main class="govuk-main-wrapper" id="content" tabindex="-1">


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Select your organisation
            </h1>
            <p class="govuk-body">You are associated with more than one organisation, please select the one you wish to sign-in with.</p>
            <form method="post">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
            <div class="govuk-form-group">

                <fieldset>
                    <legend>
                        <h1 class="govuk-heading-s">Your organisations</h1>
                    </legend>

                    <% locals.orgsForUser.forEach((org) => { %>
                    <div class="multiple-choice">
                        <input id="<%= org.organisation.id %>" type="radio" name="selected-organisation" value="<%= encodeURIComponent(JSON.stringify(org.organisation))%>">
                        <label for="<%= org.organisation.id %>">
                            <span class="govuk-label--s">
                                <%- org.organisation.name %>
                                <%= org.organisation.status ? `(${org.organisation.status.name})` : ''%>
                            </span>
                            <% if (org.naturalIdentifiers.length > 0) { %>
                            <span class="govuk-label__hint">
                                <%= org.naturalIdentifiers.join(', ') %>
                            </span>
                            <% } %>
                            <% if (org.organisation.address && org.organisation.address !== 'Not recorded') { %>
                                <span class="govuk-label__hint">
                                <%= org.organisation.address %>
                            </span>
                            <% } %>
                        </label>
                    </div>

                    <% })%>

                </fieldset>

            </div>
            <div class="govuk-form-group">
                <input type="submit" class="govuk-button" value="Continue" />
            </div>
            </form>
        </div>
        <div class="col-4">
            <aside>
                <h2 class="govuk-heading-m">Actions</h2>
                <ul class="govuk-list">
                    <li><a class="govuk-link" href="<%=locals.requestOrgLink%>">Request access to an organisation</a></li>
                </ul>
            </aside>
        </div>
    </div>
</main>
