<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Create new password
        </h1>
        <p class="govuk-body-l">Enter a new password for your DfE Sign-in account.</p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form method="post" id="form-reset-your-password">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />

                <div class="govuk-form-group <%= locals.validationMessages.newPassword !== undefined ? "govuk-form-group-error" : "" %>">
                    <label class="govuk-label" for="newPassword">Password</label>
                    <p class="govuk-label__hint">Your password must be at least 12 characters</p>
                    <% if (locals.validationMessages.newPassword !== undefined) { %>
                    <p class="error-message" id="validation-new-password"><%= locals.validationMessages.newPassword %></p>
                    <% } %>
                    <div class="show-password">
                        <input data-label="password" class="form-control" id="newPassword" name="newPassword" type="password" value="<%=newPassword%>"
                               pattern=".{12,64}$" autocomplete="off"
                                <% if (locals.validationMessages.newPassword !== undefined) { %> aria-invalid="true" aria-describedby="validation-new-password" <% } %>>
                    </div>
                </div>
                <div class="govuk-form-group <%= locals.validationMessages.confirmPassword !== undefined ? "govuk-form-group-error" : "" %>">
                    <label class="govuk-label" for="confirmPassword">Confirm password</label>
                    <% if (locals.validationMessages.confirmPassword !== undefined) { %>
                    <p class="error-message" id="validation-confirm-password"><%= locals.validationMessages.confirmPassword %></p>
                    <% } %>
                    <div class="show-password">
                        <input data-label="password" class="form-control" id="confirmPassword" name="confirmPassword" type="password" value="<%=confirmPassword%>"
                               pattern=".{12,64}$" autocomplete="off"
                                <% if (locals.validationMessages.confirmPassword !== undefined) { %> aria-invalid="true" aria-describedby="validation-confirm-password" <% } %>>
                    </div>
                </div>
                <div class="form-submit">
                    <button type="submit" class="govuk-button">Save</button>
                </div>

        </form>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <%- include('../../includes/helpdesk'); %>
    </div>
</div>
