
    <% if(locals.headerInternal) { %>
        <div class="notification notification-information" tabindex="-1">
            <h2 class="govuk-heading-m"><%=locals.headerInternal%></h2>
            <% if(locals.headerMessageInternal) { %>
                <span class="govuk-body"><%-locals.headerMessageInternal.replace('__helplink__',locals.urls.help)%></span>
            <%}%>
        </div>
    <%} if (locals.headerExternal) { %>
        <div class="notification notification-information" tabindex="-1">
            <h2 class="govuk-heading-m"><%=locals.headerExternal%></h2>
            <% if(locals.headerMessageExternal) { %>
                <span class="govuk-body"><%-locals.headerMessageExternal.replace('__helplink__',locals.urls.help)%></span>
            <%}%>
        </div>
    <%} else if (locals.showDefaultMessage) { %>
        <div class="notification notification-information" tabindex="-1">
            <h2 class="govuk-heading-m">Department for Education Sign-in</h2>
        </div>
    <% } %>

    
    <!-- <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
            You have 7 days left to send your application.
            <a class="govuk-notification-banner__link" href="#">View application</a>.
            </p>
        </div>
    </div> -->


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Department for Education Sign-in
            </h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <% if (locals.useSelfRegister) { %>
                <p class="govuk-body">DfE Sign-in is your gateway to several important services in the education sector.</p>
            <% } else { %>
                <p class="govuk-body">DfE Sign-in is the new way to access some specific education sector services. To use DfE Sign-in you will need to <a class="govuk-link" href="<%=locals.urls.help%>/contact/create-account">create an account</a>.</p>
            <% } %>
            <form method="post" id="form-signin" class="form-signin">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                <input type="hidden" name="clientId" value="<%=locals.clientId%>"/>
                <input type="hidden" name="redirectUri" value="<%=locals.redirectUri%>"/>

                <div class="govuk-form-group <%= (locals.validationMessages.username !== undefined) ? 'govuk-form-group--error' : '' %>">
                    <% if(locals.supportsUsernameLogin) {%>
                        <label class="govuk-label" for="username">Email address or Secure Access username</label>
                    <%} else {%>
                        <label class="govuk-label" for="username">Email address</label>
                    <%}%>
                    <% if (locals.validationMessages.username !== undefined) { %>
                        <span id="validation-email" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> <%=locals.validationMessages.username %>
                        </span>
                    <% } %>
                    <input class="govuk-input govuk-!-width-full" id="username" name="username" type="text" <% if (locals.validationMessages.username !== undefined) { %> aria-invalid="true" aria-describedby="validation-email" <% } %> value="<%=locals.username%>">
                </div>
                <div class="govuk-form-group <%= (locals.validationMessages.password !== undefined) ? 'govuk-form-group--error' : '' %>">
                    <label class="govuk-label" for="password">Password</label>
                    <% if(locals.validationMessages.password !== undefined) { %>
                        <span id="validation-password" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> <%=locals.validationMessages.password %>
                        </span>
                    <% } %>
                    <div class="show-password full-width">
                        <input class="govuk-input govuk-!-width-full" id="password" name="password" type="password" <% if (locals.validationMessages.password !== undefined) { %> aria-invalid="true" aria-describedby="validation-password" <% } %>>
                    </div>
                    <p class="govuk-body"><a class="govuk-link govuk-!-font-weight-bold" href="/<%=locals.uuid%>/resetpassword/request?clientid=<%=locals.clientId%>&redirect_uri=<%=locals.redirectUri%>">Forgotten your password?</a></p>
                </div>

                <div class="govuk-inset-text">
                    <p class="govuk-body">By signing in you accept the <a class="govuk-link govuk-!-font-weight-bold" href="/terms">terms and conditions</a>.</p>
                </div>
                <div class="form-submit submit-buttons">
                    <button type="submit" class="govuk-button">
                        Sign in
                        <span class="loader spinner-inline vh">
                            <span class="ball b-1"></span>
                            <span class="ball b-2"></span>
                            <span class="ball b-3"></span>
                        </span>
                    </button>
                    <% if (locals.useSelfRegister) { %>
                        <span><a class="govuk-button govuk-button--secondary" href="<%= locals.urls.profile %>/register" role="button">Create account</a></span>
                    <% } %>
                </div>
            </form>
        </div>
    </div>
    <div class="govuk-grid-row">
        <% if (!locals.useSelfRegister) { %>
            <div class="govuk-grid-column-two-thirds">
                <%- include('../../includes/helpdesk'); %>
            </div>
        <% } %>
    </div>

